/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

.sidebar-title {
	margin:         10px;
	font-size:      20px;
	font-weight:    bold;
	padding-bottom: 10px;
	border-bottom:  1px solid #eee;

	span {
		font-size:   12px;
		font-weight: normal;
		float:       right;
		cursor:      pointer;
	}

	span:hover {
		text-decoration: underline;
	}
}

@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top {
		position: relative;
	}
}

@media (min-width: 768px) {

	.sidebar {
		position:         fixed;
		top:              51px;
		bottom:           0;
		left:             0;
		z-index:          1000;
		display:          block;
		padding:          20px;
		overflow-x:       hidden;
		overflow-y:       auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right:     1px solid #eee;
	}

	.main {
		padding-right: 40px;
		padding-left:  40px;
	}
}

/*
 * Main content
 */
.main {
	padding: 20px;
}

.main .page-header {
	margin-top: 0;
}

.list-unstyled li {
	padding:               7px 0;
	border-radius:         5px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}

.list-unstyled.sites li:hover {
	background: #ded;
}

.sites {
	display:    block;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.search-box {
	margin: 10px 0;
}

.highlight {
	background: yellow;
	padding:    3px;
}

tr.highlight {
	background: darkseagreen;
}

.center {
	text-align: center;
}



#wrapper {
	padding-left:       0;
	-webkit-transition: all 0.5s ease;
	-moz-transition:    all 0.5s ease;
	-o-transition:      all 0.5s ease;
	transition:         all 0.5s ease;
}

#wrapper.toggled {
	//padding-left: 250px;
}

.sidebar {
	z-index:            1000;
	-webkit-transition: all 0.5s ease;
	-moz-transition:    all 0.5s ease;
	-o-transition:      all 0.5s ease;
	transition:         all 0.5s ease;
}

#wrapper.toggled .sidebar {
	width: 0;
	left: -40px;
}


#wrapper.toggled .main {
	//position:     absolute;
	//margin-right: -250px;
	margin-left: 10%;
	margin-right: 10%;
}

#menu-toggle {
	position: absolute;
	top: 14px;
	left: 8px;
}