/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

.sidebar-title {
	margin:         10px;
	font-size:      20px;
	font-weight:    bold;
	padding-bottom: 10px;
	border-bottom:  1px solid #eee;

	span {
		font-size:   12px;
		font-weight: normal;
		float:       right;
		cursor:      pointer;
	}

	span:hover {
		text-decoration: underline;
	}
}

@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top {
		position: relative;
	}
}

@media (min-width: 768px) {

	.sidebar {
		position:         fixed;
		top:              51px;
		bottom:           0;
		left:             0;
		z-index:          1000;
		display:          block;
		padding:          20px;
		overflow-x:       hidden;
		overflow-y:       auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right:     1px solid #eee;
	}

	.main {
		padding-right: 40px;
		padding-left:  40px;
	}
}

/*
 * Main content
 */
.main {
	padding: 20px;
}

.main .page-header {
	padding-bottom: 0;
	margin:         0;
	border-bottom:  none;
}

.page-top {
	padding-bottom: 9px;
	margin:         5px 0 20px;
	border-bottom:  1px solid #eeeeee;
}

.get-backups {
	display:    inline-block;
	float:      right;
	margin-top: -32px;
}

.list-unstyled li {
	padding:               7px 0;
	border-radius:         5px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}

.list-unstyled.sites li:hover {
	background: #ded;
}

.sites {
	display:    block;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.search-box {
	margin: 10px 0;
}

.highlight {
	background: yellow;
	padding:    3px;
}

tr.highlight {
	background: darkseagreen;
}

.center {
	text-align: center;
}

#wrapper {
	padding-left:       0;
	-webkit-transition: all 0.5s ease;
	-moz-transition:    all 0.5s ease;
	-o-transition:      all 0.5s ease;
	transition:         all 0.5s ease;
}

#wrapper.toggled {
	//padding-left: 250px;
}

.sidebar {
	z-index:            1000;
	-webkit-transition: all 0.5s ease;
	-moz-transition:    all 0.5s ease;
	-o-transition:      all 0.5s ease;
	transition:         all 0.5s ease;
}

#wrapper.toggled .sidebar {
	transform: translateX(-100%);
}

#wrapper.toggled .main {
	//position:     absolute;
	//margin-right: -250px;
	margin-left:  10%;
	margin-right: 10%;
}

#menu-toggle {
	position: absolute;
	top:      14px;
	left:     8px;
}

.table form, .sidebar form {
	display: inline;
}

span.red {
	color: red;
}

td.activated {

}

td.activated,
.table-hover td.activated :hover,
.table-hover tr:hover > td.activated,
.table-striped > tbody > tr:nth-child(odd) > td.activated {
	background:  green;
	font-weight: bold;
	//text-decoration: underline;
	color:       #fff;
}

td.update,
.table-hover td.update:hover,
.table-hover tr:hover > td.update,
.table-striped > tbody > tr:nth-child(odd) > td.update {
	background:  red;
	font-weight: bold;
	color:       #fff;
}

.update-items .btn {
	float:        right;
	margin-right: 5%;
}

.line {
	font-weight: bold;
	color:       blue;
}

.time {
	color:       green;
	font-weight: bold;
}

.error-type {
	color: red;
}

.in-file {
	font-weight: bold;
	color:       #000;
}

.wp-debug-log {
	max-height:    400px;
	overflow-x:    scroll;
	margin-bottom: 20px;
}

.wp-debug-log p {
	margin-top: 20px;
}

.sites .btn {
	margin-top: 5px;
}

h4.title span.small {
	padding-left: 40px;
}

.create-child {
	float: right;
}

.create-child .btn {
	//float: right;
	margin-right: 5px;
}

input.child-name, input.child-slug {
	display: inline-block;
	//float: right;
}

input.child-name {
	margin-right: 5px;
}

.create-s-theme {
	display: block;
	width:   100%;
	margin:  8px 0;
}

.migrate-form {
	margin: 8px 0;
}

.domain {
	width: 250px;
}

.navbar p.pull-right {
	margin:   0;
	position: absolute;
	top:      5px;
	right:    20px;
}

.navbar .gitter {
	margin-left: 8px;
	position:    relative;
	top:         5px;
}

.navbar .github-link {
	margin-left: 10px;
	position:    relative;
	top:         5px;
}

.navbar .github-link:hover .fa-inverse {
	color: #00b3ee;
}

.navbar .gitter:hover .fa-inverse {
	color: #d9534f;
}

.sites {
	button span {
		//display: none;
	}
}

.create-plugin .taxonomy {
	padding: 5px 0 0 50px;
}

.close {
	display:       inline-block;
	margin-bottom: 8px;
}

/********************************************************************
 = custom classes   *********
*********************************************************************/
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.red {
	color: darkred;
}

.ui-sortable tr {
	cursor: pointer;
}

.ui-sortable tr:hover {
	//background: rgba(244, 251, 17, 0.45);
}

td span.handle {
	padding: 0 5px 0 0;
	color: #aaa;
	i {
		vertical-align: -1px;
	}
}

tr:hover td span.handle {
	color: #777;
}
